body {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 36px;
}

header img {
    max-width: 200px;
    border-radius: 50%;
}

/* 
    Section (class) styles:
*/

.section {
    padding: 50px;
}

/* ============================================== About me */

.about-me {
    background-color: #66bb6a;
}

.about-me>p {
    max-width: 1250px;     /* Text takes up 75% of div */
}

/* ============================================== Skills */

.skills {
    background-color: #4caf50;
}

/* ============================================== Experience */

.experience {
    background-color: #388e3c;
}

/* ============================================== My Projects */

.my-projects {
    background-color: #2e7d32;
}

.my-projects>p {
    max-width: 1250px;     /* Text takes up 75% of div */
}

.java-platform-runner>p {
    max-width: 625px;     /* Text takes up 75% of div */
}

/* ============================================== Contact me */

.contact-me {
    background-color: #1b5e20;
}

/* 
    Button styles:
*/

.button-about-me {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button-about-me:hover {
    background-color: #555;
}

/* ============================================== */

.button-skills {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button-skills:hover {
    background-color: #555;
}

/* ============================================== */

.button-experience {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button-experience:hover {
    background-color: #555;
}

/* ============================================== */

.button-my-projects {
    position: absolute;
    top: 140px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button-my-projects:hover {
    background-color: #555;
}

/* ============================================== */

.button-resume {
    position: absolute;
    top: 180px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button-resume:hover {
    background-color: #555;
}

/* ============================================== */

.download-button {
    text-align: center;
    margin-top: 50px;
}

.download-button a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.download-button a:hover {
    background-color: #555;
}