<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/about.css">
    </head>
    <body>
        {% include navigation.html %}
        <div class="page-container">
            <main>
                {{ content }}
            </main>
            <aside id="toc">
                <h2>Contents</h2>
                {% include toc.html html=content %}
            </aside>
        </div>
    </body>
</html>




